<app-dashboard></app-dashboard>
<div id="dashboard">
  <div class="main-content">
    <div class="jumbotron text-center">
        <div class="span2" >
            <img src="/assets/images/avatar.jpg" class="img-circle">
            </div>
           
            <div class="span8">
                <div *ngIf="personalDetails">
                <h3>{{customerDetail.customerName}}</h3>
                <h6>Email: {{customerDetail.emailId}}</h6>
                <h6>Occupation : {{customerDetail.occupation}}</h6>
                
            </div>
          </div>
      </div>
      <div class="jumbotron text-center" style="background:transparent !important">
      <div class="container"  *ngIf="personalDetails">
          <h3  class="textaline">Personal Details</h3>
                <hr>
          <div class="row">
            <div class="col-sm-6" >
                
                <h5 class="textaline">Gender : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{customerDetail.gender}}</h5>
                <h5 class="textaline">PAN : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; {{customerDetail.pan}}</h5>
                <h5 class="textaline">Nationality : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{customerDetail.nationality}}</h5>
               
            </div>
            <div class="col-sm-6">
                <h5 class="textaline">Annual Income :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; {{customerDetail.annualIncome}}</h5>	
                <h5 class="textaline">Marital Status :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp; {{customerDetail.maritalStatus}}</h5>	
                <h5 class="textaline">Date Of Birth : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{customerDetail.dob}}</h5>
            </div>
           
          </div>
          <h3 class="textaline">Contact Details</h3>
          <hr>
    <div class="row">
      <div class="col-sm-6" >
          
          <h5 class="textaline">Address : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{customerDetail.customerAddress.address}}</h5>
          <h5 class="textaline">City : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; {{customerDetail.customerAddress.city}}</h5>
          <h5 class="textaline">Mobile Number : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  {{customerDetail.mobileNo}}</h5>
         
      </div>
      <div class="col-sm-6">
          <h5 class="textaline">State :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{customerDetail.customerAddress.state}}</h5>	
          <h5 class="textaline">Pin Code :&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{customerDetail.customerAddress.pinCode}}</h5>	
          <h5 class="textaline">Phone Number : &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;{{customerDetail.phone}}</h5>
      </div>
     
    </div>

        </div>
       
    
</div>
</div>
</div>
