<html>
<body>

<div class="persondetails">
<h3>Personal Details</h3>
<hr>
<h5>Customer Id : </h5>
<h5>Customer Name : </h5>	
<h5>Occupation : </h5>
<h5>Gender : </h5>		
<h5>PAN : </h5>
<h5>Nationality : </h5>
<h5>Annual Income : </h5>	
<h5>Marital Status : </h5>	
<h5>Date Of Birth : </h5>
</div>
<br>
<div class="Insurancedetails">
<h3>Insurance Details</h3>
<hr>
<h5>Insurance Id : </h5>
<h5>Insurance Type : </h5>	
<h5>Insurance Category : </h5>
<h5>Coverage Period : </h5>		
<h5>Amount : </h5>
<h5>Stating From : </h5>
<h5>Valid Upto : </h5>	
<h5>Nominee : </h5>	
<h5>Nominee Relation : </h5>
</div>
<br>
<div class ="contactdetails">
<h3>Contact Details</h3>
<hr>
<h5>Address : </h5>
<h5>Phone Number : </h5>	
<h5>Mobile Number : </h5>
<h5>Email Id :</h5>	
</div>



<br>
<div class="btnmain">
<button class='btn' [routerLink] = "['/updatecustomerdetails']">Update Details</button>
<button class="btn"  onclick="confirm('Are you sure you want to Deactivate this account')"> Deactivate Account</button>
<button class="btn" (click)="addNewInsurance()">Add New Insurance</button>
</div>
</body>
</html>