<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="navbar">
  <a  [routerLink]= "['./homePage']">Home</a>
  <a [routerLink] = "['./insuranceoffer']">Insurance Offer</a>
  <div class="dropdown">
    <button class="dropbtn" >Login 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a  [routerLink] = "['/Login']" >Customer</a>
      <a [routerLink] = "['/Login']">Administrator</a>
     
    </div>
  </div> 
</div>
</body>
<router-outlet></router-outlet>
</html>
